<div>
      <div class="row question">
      <div class="col-2">
        <img class="profile_photo" src="../static/img/photo.png" alt="">
        <div class="likes">Likes: 10
            <button class="btn btn-sm set-like">
              <i class="bi bi-star"></i>
              <img src="../static/img/star.svg">
            </button>
        </div>
      </div>
      <div class="col-10">
          <h5>{{item.title}}</h5>
        <p class="question_text">
            {{item.text}}
        </p>
          <input type="checkbox"/>
          <span>Correct!</span>
      </div>
    </div>
  </div>