<div class="row question">
  <div class="col-2">
    <img class="profile_photo" src="../static/img/photo.png" alt="">
    <div class="likes">Likes: 10
        <button class="btn btn-sm set-like">
          <i class="bi bi-star"></i>
          <img src="../static/img/star.svg">
        </button>
    </div>
  </div>
  <div class="col-10">
    <h5>{{question.title}}</h5>
    <p class="question_text">
        {{question.text}}
    </p>
    <div class="row">
      <div class="col-3">
        <a href="{% url 'question' question.id %}" class="answer_link">Answers({{question.answers.count}})</a>
      </div>
      <div class="col-9">
        Tags:
      {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag.name %}" class="tags">{{ tag.name }}</a>
      {% endfor %}
      </div>
    </div>
  </div>
</div>