<div class="row question">
  <div class="col-2">
    <img class="profile_photo" src="../static/img/photo.png" alt="">
    <div class="likes">Likes: 10
        <button class="btn btn-sm set-like">
          <i class="bi bi-star"></i>
          <img src="../static/img/star.svg">
        </button>
    </div>
  </div>
  <div class="col-10">
    <h5>{{question.title}}</h5>
    <p class="question_text">
        {{question.text}}
    </p>
    <div class="row">
      <div class="col-3">
        <a href="{% url 'question' question.count_answers %}" class="answer_link">Answers({{question.count_answers}})</a>
      </div>
      <div class="col-9">
        Tags:
      <a href="{% url 'tag' 'Important' %}" class="tags">Important</a>,
      <a href="{% url 'tag' 'Computer' %}" class="tags">Computer</a>
      </div>
    </div>
  </div>
</div>